.projectsPage {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: auto;
  padding-bottom: 100px;
  background-color: #020203;
}
.projectsPage > h1 {
  width: max-content;
  margin: 10px auto 50px;
  font-size: 35px;
  font-weight: 500;
  background: linear-gradient(to right, #8c41ec, #78b0e7);
  background-clip: text;
  color: transparent;
}
.mainGridDiv {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 20px !important;
  max-width: 900px;
  position: relative;
}
.gridDiv {
  height: 250px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gridDiv1,
.gridDiv4 {
  grid-column: span 2;
}
.innerdiv {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(53, 53, 53);
}
.projectCardText {
  width: 90%;
  margin-bottom: 10px;
  opacity: 0;
  transition: 0.4s all ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.innerdiv:hover .projectCardText {
  opacity: 1;
}
.projectCardText > h1 {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.click {
  width: max-content;
  text-align: right;
  font-size: 16px;
  color: rgb(173, 173, 173);
}
@media (max-width: 1100px) {
  .projectCardText > h1 {
    font-size: 25px;
  }
  .projectCardText > p {
    font-size: 15px;
  }
}
@media (max-width: 915px) {
  .projectCardText > h1 {
    font-size: 20px;
  }
}
@media (max-width: 550px) {
  .innerdiv {
    position: relative !important;
  }
}

@media (max-width: 700px) {
  .mainGridDiv {
    width: 95%;
  }
}

@media (max-width: 615px) {
  .mainGridDiv {
    width: 90%;
    grid-template-columns: 1fr;
  }
  .gridDiv1,
  .gridDiv4 {
    grid-column: span 1;
  }
  .projectCardText > h1 {
    font-size: 25px;
  }
  .projectCardText {
    opacity: 1;
  }
}
